* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #f0f4f8;
    color: #333; 
    line-height: 1.6; 
    padding: 20px;
}

.container {
    max-width: 800px; 
    background-color: #ffffff; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    text-align: left; 
}

h1 {
    color: #5c67f2;
    margin-bottom: 20px;
}

p, ul {
    font-size: 16px; 
    margin-bottom: 15px; 
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center; 
    color: #666;
    font-size: 14px;
    margin-top: 30px; 
}

footer p {
    margin-top: 10px;
}
